# Don’t commit the following directories created by pub.
.packages
.pub/
build/

# Directory created by dartdoc
doc/api/
/.dart_tool/

.idea

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map
